{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    Pendaftaran Topik dan Pembimbing Tugas Akhir</br>
    <table>
    {% for i in chapter_form %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i }}</td>
    </tr>
    {% endfor %}
  </table>
</br>
  Content </br>
  {{ content_form }}
</br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
