{% extends "base.html" %}

{% block content %}
{% if novel_list %}
    <ul>
    {% for novel in novel_list %}
        <li><a href="/novel/{{ novel.id }}/">{{ novel.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No novels are available.</p>
{% endif %}
{% endblock %}
